<%= form_tag (create_path), remote: true, method: :post, class: 'new_todo' do %>

	<div class="field">
		<%= label_tag :name %>
		<%= text_field_tag :name %>
	</div>
	<br>
	<div class="actions">
		<%= submit_tag 'Add to list' %>
	</div>

<% end %>