<h1>Single Page Todo List App</h1>

<h3>New Todo Item</h3>
<%= render 'new_todo' %>

<h3>List of Todos</h3>

<ul id="todo">
	<% @todos.each do |todo| %>
	<li id="<%= todo.id %>"><%= todo.name %></li>
	<% end %>
</ul>
